@charset "UTF-8";

/* Typical device breakpoints 
Celular: até 576px
tablets: 768px
desktop: 992px
telas grandes: 1200px
*/


@media print {

    * {font-family: 'Courier New', Courier, monospace;}

    main {
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: block;}
    #pc {display: none;}
    #tv {display: none;}

}

@media screen and (min-width: 768px) and (max-width:992px){  /*TABLET*/
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    #phone {display: none;}
    #tablet {display: block;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px){ /*DESKTOP*/
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: block;}
    #tv {display: none;}
}

@media screen and (min-width: 1200px){ /*TELAS GRANDES*/

    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: block;}
    
}